.wrapper {
  padding-top: 30px;
}
.heading {
  text-align: center;
  font-size: 2rem;
  padding: 16px;
  color: var(--font-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
  font-weight: 600;
}
